@{
    Layout = "_Layout";
}

@using LaMasDulce.Models 

<h1 class = "title">La Mas Dulce </h1>

<h3>Treats Deliciosos</h3>

<li>@Html.ActionLink("see Treat directory", "Index", "Treats")</li>

<li>@Html.ActionLink("see Flavor inventory", "Index", "Flavors")</li>

